@model IEnumerable<Clinic_Website.Models.Clinic>

@{
    ViewBag.Title = "Your Clinics";
}

<h2>Your Clinics</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicImage)
        </th>
        
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClinicImage)
        </td>
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
